/* font-family: 'Bebas Neue', cursive; */
/* font-family: 'Poppins', sans-serif; */
.header {
    background-color: #FFF9F4;
}
#font h1 {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-size: 60px;
}